
.modal {
  padding: 0px -50px;
  display: none; /* Hidden by default */
  position: fixed;
  border-radius: 50px;
  padding-block: 10px;
  width: 98%; /* 75% de large */
  height: 70%; /* 75% de haut */
  text-align: center;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9); /* Noire avec opacité max */
  color: white;
}
.modal-content{
  padding: 50px 50px;
  text-align: left;
  height: 70%;
}

.scoller,
.image-container{
  padding: 5px 5px;
  width: 100%;
  border-radius: 50px;
  max-height: 380px;
  text-align: center;
  overflow: auto; /* Active le defilement si necessaire */
  background-color: rgba(0,0,0,0.9); /* Noire avec opacité max */
  color: white;
}

.modal-header {
  border-radius: 50px;
  width: 100%;
  font-family: 'LG A100', sans-serif;
  font-size: 50px;
  text-align: center;
  background-color: rgb(0,0,0);
  color: white;
}


.genre-list{
  text-align: left;
  letter-spacing: 5px;
  font-family: 'LG A100', sans-serif;
  font-size: 20px;
  list-style-type: none;
}

.image-film{
  max-width: 400px;
  border-image: 20%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: orange;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.actors-list{
  text-align: left;
  letter-spacing: 5px;
  font-family: 'LG A100', sans-serif;
  font-size: 20px;
  list-style-type: none;
}

.movie-year{
  text-align: left;
  letter-spacing: 5px;
  font-family: 'LG A100', sans-serif;
  font-size: 20px;
  list-style-type: none;
}

.movie-rate{
  text-align: left;
  letter-spacing: 5px;
  font-family: 'LG A100', sans-serif;
  font-size: 20px;
  list-style-type: none;
}

.movie-duration{
  text-align: left;
  letter-spacing: 5px;
  font-family: 'LG A100', sans-serif;
  font-size: 20px;
  list-style-type: none;
}

.movie-director{
  text-align: left;
  letter-spacing: 5px;
  font-family: 'LG A100', sans-serif;
  font-size: 20px;
  list-style-type: none;
}

.movie-country{
  text-align: left;
  letter-spacing: 5px;
  font-family: 'LG A100', sans-serif;
  font-size: 20px;
  list-style-type: none;
}

.movie-description{
  text-align: left;
  letter-spacing: 5px;
  font-family: 'LG A100', sans-serif;
  font-size: 20px;
  list-style-type: none;
}

.movie-income{
  text-align: left;
  letter-spacing: 5px;
  font-family: 'LG A100', sans-serif;
  font-size: 20px;
  list-style-type: none;
}



/*Decorateur html du boutton fermer*/
.close{
  border: 5px solid orange;
  padding: 2px;
  font-family: 'LG A100', sans-serif;
  font-size: 30px;
  max-width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Fermer la modal */
.modal-content .close{
  border-style: ridge 3px orange;
  color: #aaa;
  font-size: 30px;
}
  
.close:hover,
.close:focus {
  color: rgb(250, 0, 0);
  text-decoration: none;
  cursor: pointer;
}
.scroller,
.modal-content{
  position: initial;
  }